<div>

    <input type="checkbox" id="{{id}}" class="accordion__input">
    <label for="{{id}}" class="accordion__label">{{jobTitle}}</label>
    <div class="accordion__content">
        <h4>{{companyName}}</h4>
        <a href="{{companyURL}}" id="appLink" target="_blank">{{format_url companyURL}}</a>
        <p>Date Applied: {{format_date date}}</p>
        <p>{{description}}</p>
        <p>Status: {{status}}</p>
        <div class="btn-container">
            <button class="edit-btn">Edit</button>
            <button class="del-btn" id="deleteBtn">Delete</button>
        </div>
    </div>
</div>